:root {
  --gold:#EAB107;
  gold-sombre: #A48B31;
  --yellow-first: #9ACD32;
  --vert: #51C124;
  --bleu: #0090B5;
  --orange: #F4BB35;
  --rouge: #D32A2F;
  --yellow-linear: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
*{
  padding: 0;
  margin: 0;
}


.menu{
  transform: translateX(-100%);
}

/* @keyframes wiggle{
  0%{
    transform: translateX(-100%);
    opacity: 0}
  100%{
    opacity: 1;
    transform: translateX(100%);
  }
} */
.show{
  animation: visible .5s ease-in-out forwards;
}



@keyframes visible{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes invisible{
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(-100%);
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  .menu{
    margin-top: 15px;
    transform: translateX(0);
  }
}